<header>
  <div>
    <a href="{{ "" | absLangURL }}" class="float-md-start mb-0 navbar-brand text-white" accesskey="h"
      title="{{ .Site.Params.label.text | default .Site.Title }} (Alt + H)">
      {{- if .Site.Params.label.icon }}
      <img src="{{- .Site.Params.label.icon -}}" alt="logo" aria-label="logo"
        height="{{- .Site.Params.label.iconHeight | default " 30px" -}}" />
      {{- end -}}
      {{- .Site.Params.label.text | default .Site.Title | upper -}}
    </a>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
      {{else}}
      <a class="nav-link {{ if $currentPage.IsMenuCurrent " main" . }}active{{ end }}" aria-current="page"
        href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
      {{ end }}
      {{ if .Site.Params.showNavbarSocialIcons }}
      {{ partial "templates/social.html" . }}
      {{ end }}
    </nav>
  </div>
</header>
