<!doctype html>
<html lang="{{ $.Site.Language.Lang }}" class="h-100">

{{ block "head" . }}{{ partial "head" .}}{{end}}

<body class="d-flex h-100 text-center text-white bg-dark">

  <div id="particles-js"></div>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {{ block "header" . }}{{ partial "header" . }}{{end}}

    <main class="px-3">
      {{ block "main" . }}{{end}}
    </main>

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}
  </div>

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
  <script src="{{ relURL . }}"></script>
  {{ end }}
</body>

</html>
