$primary: #70afd0;
$secondary: #ef9dc8;
$success: #55af78;
$info: #3e413c;
$warning: #d39f40;
$danger: #f44336;
$light: #f2f2f2;
$dark: #0d0d0d;

@import "../../node_modules/bootstrap/scss/bootstrap";
