$primary: #70afd0;
$secondary: #ef9dc8;
$success: #55af78;
$info: #3e413c;
$warning: #d39f40;
$danger: #f44336;
$light: #f2f2f2;
$dark: #0d0d0d;

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-root: 18px;

@import "../../node_modules/bootstrap/scss/bootstrap";
